*{
    margin: 0px;
}
form{
    width: 600px;
    height: 600px;
    background-color: bisque;
    margin-top: 0px;
    margin-left: 30%;
    margin-right: auto;
    padding-top: 1px;
}
.input{
    margin-left: 30%;
    margin-top: 10%;

}
.button{
    margin-left: 45%;
}
.out{
    margin-left: 30%;
    margin-top: 10px;
}